@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: rgba(14, 59, 14, 0.922);
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100%;
  background-color: rgba(253, 156, 156, 0.825);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: #fdecec;
  border: 2px solid rgb(124, 124, 124);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
