@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.frame span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  padding: 0 5vw;
  height: 5vw;
  font-size: 3vw;
  font-weight: 700;
}

.frame {
  overflow: hidden;
  height: 5vw;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  background-color: rgb(14, 36, 104);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
