@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  overflow: hidden;
}

/* Styling the firs page  */

#page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e0dddd;
}

canvas {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  max-height: 100vh;
}

#loop {
  position: absolute;
  top: 32%;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 80px;
  white-space: nowrap;
  color: black;
}

#loop > h1 {
  font-weight: 300;
  animation: anim 20s linear infinite;
}

h1 span {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  padding: 35px 20px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
}

nav .date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date h4 {
  font-weight: 400;
}

.date span {
  background-color: black;
  color: #fff;
  padding: 6px 12px;
  border-radius: 25px;
  font-size: 17px;
}

.text {
  position: absolute;
  top: 56%;
  left: 6%;
  width: 88%;
  display: flex;
  justify-content: space-between;
}

.text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text2 h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

/* Styling the second page  */
#page1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e0dddd;
}

.lefttext {
  position: absolute;
  top: 25%;
  left: 5%;
  width: fit-content;
}

.righttext {
  position: absolute;
  top: 50%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lefttext h4 {
  font-weight: 400;
  font-size: 20px;
}
.righttext h4 {
  font-weight: 400;
  font-size: 20px;
}

.lefttext h2 {
  font-size: 55px;
  line-height: 1.2;
}
.righttext h2 {
  font-size: 55px;
  line-height: 1.2;
}

#page2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e0dddd;
}

#page2 .righttext {
  top: 45%;
  right: 3%;
}
.righttext span {
  text-align: end;
  font-size: 16px;
}
.righttext span:nth-child(1) {
  margin-bottom: 10px;
}

#page2 .lefttext {
  position: absolute;
  top: 25%;
  left: 5%;
  width: fit-content;
}

#page3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e0dddd;
}

#page3 .lefttext {
  text-align: start;
  display: flex;
  flex-direction: column;
}

#page3 .lefttext span:nth-child(1) {
  margin-bottom: 10px;
}

/* Styling the page 4 */
#page4 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #757373, #e0dddd);
}

#page4 .head {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head h1 {
  font-size: 60px;
  margin-bottom: -10px;
}
.head h5 {
  font-size: 13px;
  font-weight: 500;
}

.body {
  position: absolute;
  top: 28%;
  width: 100%;
  height: 47%;
}
.body h1 {
  font-size: 120px;
  line-height: 0.9;
  white-space: nowrap;
  -webkit-text-stroke: 2px black;
  color: transparent;
}
.body .wrapper {
  display: flex;
}
.body .first {
  animation: anim1 25s linear infinite;
}
.body .second {
  animation: anim2 80s linear infinite;
}
.body .third {
  animation: anim3 40s linear infinite;
}

@keyframes anim1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes anim2 {
  0% {
    transform: translateX(-350%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes anim3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#page4 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 540px;
  height: 540px;
}
