@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  overflow: hidden;
}

/* Styling the firs page  */

#page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e0dddd;
}

canvas {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  max-height: 100vh;
}

#loop {
  position: absolute;
  top: 32%;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 80px;
  white-space: nowrap;
  color: black;
}

#loop > h1 {
  font-weight: 300;
  animation: anim 20s linear infinite;
}

h1 span {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  padding: 35px 20px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
}

nav .date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date h4 {
  font-weight: 400;
}

.date span {
  background-color: black;
  color: #fff;
  padding: 6px 12px;
  border-radius: 25px;
  font-size: 17px;
}

.text {
  position: absolute;
  top: 56%;
  left: 6%;
  width: 88%;
  display: flex;
  justify-content: space-between;
}

.text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text2 h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

/* Styling the second page  */
#page1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: #e0dddd; */
}

.lefttext {
  position: absolute;
  top: 25%;
  left: 5%;
  width: fit-content;
}

.righttext {
  position: absolute;
  top: 50%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#page1 h4 {
  font-weight: 400;
}

#page1 h2 {
  font-size: 40px;
  line-height: 1.3;
} 




#page2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(249, 143, 131);
}

#page3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(160, 208, 63);
}