@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #78cdc7;
}

/* Pre CSS  */
.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  align-items: center;
}
.nav_image img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* sidebar  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 15px 10px;
  transition: all 0.4s ease;
}
.sidebar.close {
  width: 75px;
}

.logo_items {
  gap: 8px;
}

.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500;
  transition: all 0.4s ease;
}
.sidebar.close .logo_name, .sidebar.close #lock-icon,.sidebar.close #sidebar-close  {
  display: none;
}

#sidebar-close,
#lock-icon {
  padding: 10px;
  color: #78cdc7;
  font-size: 25px;
  cursor: pointer;
}
#sidebar-close {
  color: #fff;
  display: none;
}

/* Styling the Menu Container  */
.menu_container {
  margin: 42px 2.5px;
  overflow-y: auto;
  height: calc(100% - 105px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}

.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .line {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  width: 20px;
  border-radius: 25px;
  height: 3px;
  background-color: #aaa;
  transition: all .3s ease;
}
.sidebar.close .title {
  opacity: 0;
}

.menu_title .line {
  opacity: 0;
  transition: all .3s ease;
}
.sidebar.close .line {
  opacity: 1;
}

.item {
  list-style: none;
}
.sidebar.close .item span {
  display: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover {
  background-color: #78cdc7;
  color: #fff;
}
.link span {
  white-space: nowrap;
}
.link i {
  padding: 15px 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* Sidebar Profile  */
.sidebar_profile {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  gap: 15px;
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar  */
.navbar {
  position: fixed;
  top: 0;
  left: 60%;
  max-width: 500px;
  width: 100%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}

#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
}

.navbar .search {
  height: 46px;
  max-width: 500px;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  font-size: 15px;
  color: #333;
}

.navbar img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

/* Responsive  */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    left: 0;
    transform: translateX(0);
    max-width: 100%;
  }
}
