@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: rgba(14, 59, 14, 0.922);
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(123, 168, 123, 0.875);
}

#panel {
  position: absolute;
  z-index: 9;
  display: block;
  overflow: hidden;
  width: 70%;
  height: 75%;
  background-color: #fff;
  border-radius: 10px;
}

#ptop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: rgba(52, 98, 52, 0.922);
}

.boxes {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  height: 100%;
  padding: 0 10px;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.elem h4 {
  color: #fff;
  font-weight: 400;
}

.elem .box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  padding: 0 3px;
  background-color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  color: rgba(38, 79, 38, 0.922);
}

#pbottom {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 20px;
  height: 85%;
}

#bubbles {
  overflow: hidden;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(38, 79, 38, 0.922);
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  transition: all ease 0.3s;
}

.bubble.clicked {
  pointer-events: none;
  background-color: rgba(7, 28, 7, 0.922);
  scale: 0.95;
}

.bubble.badClick {
  pointer-events: none;
  background-color: rgba(48, 13, 13, 0.922);
  scale: 0.95;
}

.bubble:hover {
  cursor: pointer;
  background-color: rgba(14, 59, 14, 0.922);
  scale: 0.95;
}

/* Styling the Game Over page  */
#gameOver {
  position: absolute;
  scale: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px 80px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

#gameOver.active {
  scale: 1;
}

#gameOver .text1 {
  margin-bottom: -10px;
  color: rgba(11, 45, 11, 0.922);
  letter-spacing: 3px;
  font-size: 40px;
}

#gameOver .text2 {
  margin-bottom: 20px;
  color: rgba(11, 45, 11, 0.922);
  letter-spacing: 3px;
  font-size: 35px;
}

#gameOver button {
  background-color: #fff;
  color: rgba(11, 45, 11, 0.922);
  border: 2px solid rgba(11, 45, 11, 0.922);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#gameOver button:hover {
  scale: 1.1;
  background-color: rgba(11, 45, 11, 0.922);
  color: #fff;
}
