@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
}

.page1 {
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* Styling the nav bar  */
.nav {
  width: 94%;
  display: flex;
  height: 100px;
  border-bottom: 2px solid #797979;
  margin: 0 40px;
  padding-top: 20px;
}

.leftSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 1000;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.headings h5 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #999797;
}

.rightSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.rightSide h5 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #999797;
}

.rightSide i {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #999797;
  border: 2px solid #999797;
  border-radius: 50px;
  padding: 10px;
}

/* Styling bottom part of page 1  */
.container {
  width: 100%;
  height: 80%;
  display: flex;
}

.left {
  width: 50%;
  height: 100%;
  padding: 70px 50px;
}

.left h1 {
  font-size: 100px;
  line-height: 110px;
  font-weight: 400;
  color: #e6e6e6;
  text-transform: uppercase;
}

.left .images {
  display: flex;
  align-items: center;
}

.left h1 img {
  width: 90px;
  height: 90px;
  border: 5px solid #000;
  border-radius: 50%;
  object-fit: cover;
}

.left h1 img:nth-child(2),
.left h1 img:nth-child(3) {
  margin-left: -20px;
}

.left .ideas {
  margin-left: 15px;
}

.left .line {
  width: 100%;
  border: 2px solid #999797;
  margin-top: 55px;
}

.left .smallh1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.smallh1 h5 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c3c2c2;
  width: 32%;
}

.right {
  width: 50%;
  height: 100%;
  padding: 70px 50px;
  overflow: hidden;
}

.right img {
  width: 650px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}

/* Styling the Second page  */
.page2 {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 60%;
  padding: 50px 50px;
}

.page2 .nonBox {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #bebebe;
  flex-direction: column;
}

.page2 .button {
  width: 100%;
  display: flex;
  align-items: center;
}

.button i {
  background-color: #f8f5f5;
  padding: 16px;
  font-size: 25px;
  border-radius: 50%;
  color: #000;
}

.button h4 {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.page2 .headings {
  height: 50%;
  width: fit-content;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  gap: 13px;
  flex-direction: column;
}

.page2 .headings > h3 {
  font-size: 22px;
  font-weight: 400;
  border: 2px solid #f8f5f5;
  border-radius: 50px;
  padding: 4px 18px;
  text-transform: uppercase;
}

.page2 .boxes {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 5px;
}

.page2 .boxes .box1 {
  width: calc(100% / 3);
  height: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(255, 103, 1);
}
.page2 .boxes .box2 {
  width: calc(100% / 3);
  height: 100%;
  border-radius: 20px;
  background-color: rgb(215, 209, 209);
}
.page2 .boxes .box3 {
  width: calc(100% / 3);
  height: 100%;
  border-radius: 20px;
  background-color: rgb(237, 179, 54);
}
